/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*
=======
general
=======
*/

body {
  margin: 0px;
  padding: 0px;
  background: #66CDAA;
}

button {
  background: #ddd;
  border: 2px solid black;
  font-size: 20px;
  margin-top: 10px;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size:40px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0px;
}

/* 
============
body goodies
============
*/

#sudoku-table {
  background: #ddd;
  border: 2px solid black;
  margin: 0 auto;
}

#sudoku-table input {
  width: 50px; 
  height: 50px;
  font-size: 30px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

.border-t {
  border-top: 2px solid black;
}

.border-r {
  border-right: 2px solid black;
}

.border-b {
  border-bottom: 2px solid black;
}

.border-l {
  border-left: 2px solid black;
}

.border-tr {
  border-top: 2px solid black;
  border-right: 2px solid black;
}

.border-tl {
  border-top: 2px solid black;
  border-left: 2px solid black;
}

.border-br {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.border-bl {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

